# Database and RabbitMQ (docker profile)
POSTGRES_DB=fiscalanalyzer
POSTGRES_USER=fiscalanalyzer
POSTGRES_PASSWORD=change_me
RABBITMQ_USER=fiscalanalyzer
RABBITMQ_PASSWORD=change_me

# Backblaze S3 (local run)
STORAGE_S3_ENDPOINT=https://s3.<region>.backblazeb2.com
STORAGE_S3_ACCESS_KEY=<key_id>
STORAGE_S3_SECRET_KEY=<application_key>
STORAGE_S3_BUCKET=<bucket_name>
STORAGE_S3_REGION=us-east-1
STORAGE_S3_PATH_STYLE_ACCESS=false
